BasedOnStyle: LLVM
IndentWidth: 4
UseTab: true
TabWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Attach
ContinuationIndentWidth: 4
AllowAllParametersOfDeclarationOnNextLine: true
MaxEmptyLinesToKeep: 1
SortIncludes: true
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortIfStatementsOnASingleLine: true